#                    WEB SCRAPING ASSIGNMENT - SELENIUM

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [8]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-8-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [9]:
driver.get("https://www.naukri.com")

In [10]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

<ipython-input-10-5e40fdfb9068>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [11]:
search_job.send_keys("Data Analyst")

In [12]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

<ipython-input-12-830592030f82>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id("qsb-location-sugg")

In [13]:
search_loc.send_keys("Bangalore")

In [14]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-14-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [15]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [16]:
driver.get(url)

In [17]:
#List for storing information
job_title = []
comp_name = []
loca = []
exp = []

In [18]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

<ipython-input-18-6193b2deb86f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [19]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Business Data Analyst - Database Design/Mining',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [20]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

<ipython-input-20-93b61aaa02e5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [21]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['AugmatrixGo', 'Applied Materials', 'Shell', 'Shell']

In [22]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-22-fa9c87cff84b>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [23]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [24]:
#Extracting company name
e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-24-0e3c5ffc4231>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [25]:
for i in e_r:
    expe = i.text
    exp.append(expe)
exp[0:4]

['2-5 Yrs', '0-3 Yrs', '5-8 Yrs', '5-10 Yrs']

In [26]:
#Checking lengths of all four lists
print(len(t_t),len(c_n),len(l_n),len(e_r))

20 20 20 20

In [27]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Experience Required']= exp

In [28]:
naukri.head(10)

,Title,Company Name,Locations,Experience Required
0,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
1,Data Analyst,Applied Materials,Bangalore/Bengaluru,0-3 Yrs
2,Data Analyst,Shell,Bangalore/Bengaluru,5-8 Yrs
3,Data Analyst,Shell,Bangalore/Bengaluru,5-10 Yrs
4,Senior Data Analyst,Utthunga Technologies Pvt Ltd,Bangalore/Bengaluru,3-4 Yrs
5,Sr Business Data Analyst,ExecBoardinAsia,Bangalore/Bengaluru,5-10 Yrs
6,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs
7,Business Data Analyst,NetApp,Bangalore/Bengaluru,5-10 Yrs
8,Senior Data Analyst - SQL/Tableau/Redshift,Pronto Consulting Services,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",6-10 Yrs
9,Power BI - Data Analyst - Biocon Biologics,BIOCON BIOLOGICS LIMITED,Bangalore/Bengaluru,3-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [30]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-30-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [31]:
driver.get("https://www.naukri.com")

In [32]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

<ipython-input-32-d1a7c56bf098>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-32-d1a7c56bf098>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_id("qsb-location-sugg")

In [33]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-33-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [34]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [35]:
driver.get(url)

In [36]:
#List for storing information
job_title = []
comp_name = []
loca = []
desc = []

In [37]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

<ipython-input-37-6193b2deb86f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [38]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist']

In [39]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

<ipython-input-39-93b61aaa02e5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [40]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['Amazon',
 'Alstom Transport India Ltd.',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Santechture']

In [41]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-41-fa9c87cff84b>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [42]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru']

In [43]:
#Extracting Description
d_c = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")

<ipython-input-43-b226d260fce4>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_c = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")

In [44]:
for i in d_c:
    des = i.text
    desc.append(des)
desc[0:4]

['Excited by using massive amounts of data to develop Machine Learning (ML) and Deep Lear...',
 'Key accountabilities:Manage a multidisciplinary team of data engineers, data scientists...',
 'Work Experience:~2+ years of relevant experience in advanced analytics role preferably ...',
 'Good experience in Artificial Neural Network (ANN ), AI conversational Chatbot & needs ...']

In [45]:
#Checking lengths of all four lists
print(len(t_t),len(c_n),len(l_n),len(d_c))

20 20 20 20

In [46]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Description']=desc

In [47]:
naukri.head(10)

,Title,Company Name,Locations,Description
0,Data Scientist,Amazon,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Excited by using massive amounts of data to de...
1,Data Scientist,Alstom Transport India Ltd.,Bangalore/Bengaluru,Key accountabilities:Manage a multidisciplinar...
2,Senior Data Scientist | Fortune 500 Supermarke...,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,Work Experience:~2+ years of relevant experien...
3,Senior Data Scientist,Santechture,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Good experience in Artificial Neural Network (...
4,Data Scientist,Evalueserve,Bangalore/Bengaluru,8 years of experience manipulating data sets a...
5,Hiring For AI Architect / Lead Data Scientist ...,IQVIA RDS India Pvt Ltd,Bangalore/Bengaluru,Job Skills title : AI Architect / Lead Data Sc...
6,"Lead Data Scientist, Presales",Moveworks,Bangalore/Bengaluru,You have 3+ years experience of leading data s...
7,Lead Data Scientist/Lead ML Scientist,ExecBoardinAsia,Bangalore/Bengaluru,"Strong hands on with Python, Machine Learning ..."
8,Senior Data Scientist,Easy Recruit,Bangalore/Bengaluru,Roles and responsibilities Enable the power of...
9,Senior / Lead Data Scientist,Bukuwarung,Bangalore/Bengaluru,"As a Lead/Sr Data Scientist for BukuWarung, yo..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [48]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-48-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [49]:
driver.get("https://www.naukri.com")

In [51]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

<ipython-input-51-2331cb1747a3>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [52]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-52-c9b437d84350>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [53]:
#url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist"

In [54]:
driver.get(url)

In [55]:
#List for storing information
job_title = []
comp_name = []
loca = []
exp = []

In [56]:
#Location Button
loc_btn = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc_btn.click()

<ipython-input-56-304b97b756c4>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc_btn = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

In [57]:
#Salary Button
sal_btn = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_btn.click()

<ipython-input-57-c96e39964b8c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sal_btn = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

In [58]:
#Extracting job title
t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

<ipython-input-58-6193b2deb86f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  t_t = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")

In [59]:
for i in t_t:
    title = i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist']

In [60]:
#Extracting company name
c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

<ipython-input-60-93b61aaa02e5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_n = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [61]:
for i in c_n:
    names = i.text
    comp_name.append(names)
comp_name[0:4]

['Think i',
 'HCL Technologies',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.']

In [62]:
#Extracting location
l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-62-fa9c87cff84b>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  l_n = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [63]:
for i in l_n:
    locations = i.text
    loca.append(locations)
loca[0:4]

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)']

In [64]:
#Extracting company name
e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-64-0e3c5ffc4231>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  e_r = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [65]:
for i in e_r:
    expe = i.text
    exp.append(expe)
exp[0:4]

['0-2 Yrs', '4-7 Yrs', '4-6 Yrs', '4-6 Yrs']

In [67]:
#Checking lengths of all three lists
print(len(t_t),len(c_n),len(l_n),len(e_r))

20 20 20 20

In [68]:
#Creating and storing data in a dataframe
naukri = pd.DataFrame({})
naukri['Title']=job_title
naukri['Company Name']=comp_name
naukri['Locations']=loca
naukri['Experience']= exp

In [69]:
naukri.head(10)

,Title,Company Name,Locations,Experience
0,Data Scientist,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",0-2 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR,4-7 Yrs
2,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
3,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
4,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,Delhi / NCR(Netaji Subhash Place),2-7 Yrs
5,Data Scientist,Optum Global Solutions (India) Private Limited,"Noida, Gurgaon/Gurugram",2-6 Yrs
6,Data Scientist,SVK Global Solutions Private Limited,Noida,6-10 Yrs
7,Data Scientist Internship,iHackers Inc,New Delhi,0-1 Yrs
8,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
9,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Remote,2-7 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [17]:
driver = webdriver.Chrome('chromedriver.exe')

<ipython-input-17-f54c79595346>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [18]:
driver.get('https://www.flipkart.com/')

In [19]:
search_sun=driver.find_element_by_xpath("//input[@type='text']")
search_sun.send_keys("Sunglasses")

In [21]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [23]:
import time
#creating the empty list
brand=[]
description=[]
price=[]


time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

C:\Users\Srishti Maan\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:702: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [24]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price})
#printing dataframe
df

              Brand                                        Description   Price
0    ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹336
1    ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...    ₹349
2         Elligator                UV Protection Round Sunglasses (54)    ₹248
3              SRPM             UV Protection Wayfarer Sunglasses (56)    ₹188
4            SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...    ₹276
..              ...                                                ...     ...
115  ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...    ₹349
116        Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹759
117      PHENOMENAL                UV Protection Round Sunglasses (53)    ₹249
118         Ray-Ban    Mirrored, UV Protection Aviator Sunglasses (58)  ₹3,142
119         VILLAIN         Others Retro Square Sunglasses (Free Size)    ₹549

[120 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [74]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-74-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [75]:
driver.get(" https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [76]:
r_t=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
r_t.click()

<ipython-input-76-e223c49561ba>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  r_t=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

In [77]:
rat=[]
rev=[]
f_rev=[]

In [78]:
url= 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [79]:
f_p=0
l_p=1
urls = []
for page in range(f_p,l_p+1):
    driver.get(url)
    p_urls=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']|//a[@class='ge-49M']")
    for i in p_urls:
        urls.append(i.get_attribute('href'))

<ipython-input-79-4b162a606d7d>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_urls=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']|//a[@class='ge-49M']")

In [80]:
urls=urls[:10]
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [81]:
for i in urls:
        driver.get(i)
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            if i is not None:
                rat.append(i.text)
            else:
                rat.append('-')
                
rat[:5]

<ipython-input-81-7551bdcb2747>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

['5', '5', '5', '5', '5']

In [82]:
for i in urls:
        driver.get(i)
        review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for j in review:
            if j is not None:
                rev.append(j.text)
            else:
                rev.append('-')
                
rev[:5]

<ipython-input-82-cb1d9d6b1dcd>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!']

In [83]:
for i in urls:
        driver.get(i)
        freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for j in freview:
            if j is not None:
                f_rev.append(j.text)
            else:
                f_rev.append('-')
f_rev[:5]

<ipython-input-83-be9ab901b69c>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  freview=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.']

In [84]:
print(len(rat),len(rev),len(f_rev))

97 100 100

In [85]:
ipf = pd.DataFrame({})
ipf['Rating']=rat[:89]
ipf['Review_summary']=rev[:89]
ipf['Full_review']=f_rev[:89]

In [86]:
ipf.head(10)

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Best in the market!,Great iPhone very snappy experience as apple k...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [202]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-202-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [25]:
driver.get('https://www.flipkart.com/')

In [26]:
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

C:\Users\Srishti Maan\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:683: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [206]:
#URL for 1st 40 entries
url = "https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [207]:
driver.get(url)

In [208]:
brand = []
desc = []
price =[]

In [209]:
#Fetching brand 1-40
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

<ipython-input-209-d269767c987f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="4a73f0e7-29e5-4488-9b12-b57967300cbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="f0e1d8ad-0bc7-48ba-8681-abc45b06e2ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="d1fff116-d3a4-4048-82e5-9be6bc9c3478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="ebe99686-78ab-41a8-9981-82b58232523a")>]

In [210]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Furo', "Neeman's", 'ASTEROID', 'Chevit']

In [211]:
#Fetching description 1-40
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

<ipython-input-211-188a5e0a454d>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="0d750b2f-f890-4cd1-99aa-fe4f7185bda5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="5eb187fb-4bdf-4ff2-a53c-72a1eed66bdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="82237e78-9227-4816-ba7e-26063836bad5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="f681f5ce-758f-4cf8-bd0b-85a2846b3a32")>]

In [212]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')
desc[:5]

['By Redchief Olive Green Sneaker For Men Sneakers For Me...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...']

In [213]:
#Fetching price 1-40
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

<ipython-input-213-d046027507c2>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="1fac6f5f-0d75-4390-baaa-3725346d38ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="0ce2c191-7ae6-437e-b546-b94f7175071a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="367c004f-1973-4308-a2a7-710f1300db2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="72c44871-e29f-40e4-88b5-d65889a9f52f")>]

In [214]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')
price[:5]

['₹1,559', '₹2,399', '₹499', '₹599', '₹398']

In [215]:
print(len(brand),len(desc),len(price))

40 33 40

In [216]:
search_btn1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")
search_btn1.click()

<ipython-input-216-9ff106657de4>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn1 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")

In [217]:
#Fetching brand 40-80
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

<ipython-input-217-9dc2304d74ba>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="2b6175fc-a7bd-4173-ad05-4a8b0907ab17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="c17d1a0e-4a36-4a93-b17a-74c5c766dce2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="f71ab7a6-401e-4a80-9bd1-bdd9cf75f177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="549b1925-bd5b-4813-ad6d-12f61470eb9b")>]

In [218]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Furo', "Neeman's", 'ASTEROID', 'Chevit']

In [219]:
#Fetching description 40-80
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

<ipython-input-219-4766f6b549e5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="2435e100-45cb-4ff2-8a07-c58cc7f82eb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="8c66b22a-c68a-48bd-bcde-9d32ee093af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="a4125ff7-fd12-4323-9d3d-68e20e37ea56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="1c5c52a1-30c2-4151-8150-6a26f43a5ff8")>]

In [220]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')

In [221]:
#Fetching price 40-80
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

<ipython-input-221-5a52a4aca88d>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="e7ee2881-6131-4723-a27b-a06ca05b0c3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="b27a7b51-f066-4a02-a40a-192a01f5d37e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="d3a9c468-453c-4537-a636-3654ce96fc69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="cd7b23a4-641b-4d39-b2fc-b07847cd52d6")>]

In [222]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')

In [223]:
print(len(brand),len(desc),len(price))

80 64 80

In [224]:
search_btn2=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span[1]")
search_btn2.click()

<ipython-input-224-1b75ec1aef86>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn2=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span[1]")

In [225]:
#Fetching brand 80-120
b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b_t[0:4]

<ipython-input-225-a1aca12e0ba6>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="cf17ea60-481c-4e7f-b2bf-cca286b6d1fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="5ffa77aa-9df3-47ec-946c-cb23dd525110")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="7f81993b-9ac0-4f57-b91f-bec94d678305")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="839ff736-d359-437d-bb00-52ec4d745bfa")>]

In [226]:
for i in b_t:
    bra = i.text
    brand.append(bra)

In [236]:
#Fetching description 80-120
d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
d_t[0:4]

<ipython-input-236-7c9199560b41>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_t = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="75a3ac5a-fdb4-48d8-8cd1-192a59b4825c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="ca8704ec-597d-4616-838d-aabd84328605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="3c65c688-2f95-4ca8-9c4e-4d4b01ec6f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="146a77e6-0777-41ff-a239-8308f7b33dbb")>]

In [237]:
for i in d_t:
    if i is not None:
        desc.append(i.text)
    else:
        desc.append('-')

In [238]:
#Fetching price 80-120
p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
p_t[0:4]

<ipython-input-238-9ed8197b2615>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

[<selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="1e086c50-3819-471c-936e-c18ad8423133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="2fa4f777-4da5-4359-94d8-7b0f6de928f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="cf411610-42d7-4400-a2e9-9f05fbf2299f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2bb0000b21ccbd43019116734fbee0cb", element="a529c820-281b-4ee6-8b0f-cbc513a6c0bb")>]

In [239]:
for i in p_t:
    if i is not None:
        price.append(i.text)
    else:
        price.append('-')

In [240]:
print(len(brand),len(desc),len(price))

120 120 160

In [241]:
s_flip=pd.DataFrame({})
s_flip['Brand']=brand[:100]
s_flip['Description']=desc[:100]
s_flip['Prices']=price[:100]

In [242]:
s_flip

       Brand                                        Description  Prices
0       Furo  By Redchief Olive Green Sneaker For Men Sneake...  ₹1,559
1   Neeman's  Original Luxury Branded Fashionable Men's Casu...  ₹2,399
2   ASTEROID  Perfect & Affordable Combo Pack of 02 Pairs Sn...    ₹499
3     Chevit                                   Sneakers For Men    ₹599
4   Magnolia  Super Stylish & Trendy Combo Pack of 02 Pairs ...    ₹398
..       ...                                                ...     ...
95   Levanse  Casual Sneakers White Shoes For Men And Boys S...    ₹849
96     Zsyto                                   Sneakers For Men    ₹328
97     PEXLO  Men's Sneakers Fashion Lightweight Running Sho...    ₹498
98     Echor  Smart Casuals Canvas Shoes Combo pack of 2 Sne...    ₹399
99      Furo         Plank Eng Knit Slipon IDP Sneakers For Men  ₹1,559

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [112]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-112-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [15]:
driver.get(" https://www.myntra.com/shoes")

In [16]:
#clicking on price filter
price_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_button.click()


#clicking on black colour
black_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_button.click()

In [115]:
col_button = driver.find_element_by_css_selector('input[value*="Black"]')
webdriver.ActionChains(driver).move_to_element(col_button ).click(col_button ).perform()

<ipython-input-115-bf694860d911>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  col_button = driver.find_element_by_css_selector('input[value*="Black"]')

In [116]:
#URL for 1st 50 entries
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0"
driver.get(url)

In [117]:
brand = []
desc = []
price =[]

In [118]:
#Fetching brand 1-40
b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")
b_t[0:4]

<ipython-input-118-03345681008f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="5c178bd9-1197-4c0d-83bf-4ce62286c746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="6cc648c1-ed57-4ed8-8754-19fb9dbe3a52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="fa967361-bd76-4449-bf87-53976483a32a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="2ec5f9cf-c755-46cd-9630-b31c961cdf6d")>]

In [119]:
for i in b_t:
    bra = i.text
    brand.append(bra)
brand[0:4]

['Nike', 'Nike', 'Nike', 'Nike']

In [120]:
#Fetching price 1-500
p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")
p_t[0:4]

<ipython-input-120-cec6d03f7d7a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="97562268-800f-443c-8f6d-6f64a4736aa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="d1ed10c4-d71f-4ab3-b4e5-49e3ff305cab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="bd01b5ba-6958-4792-a65f-1be9675c96cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="16c22833-162e-4d83-a1fc-71dd6cc515ae")>]

In [121]:
for i in p_t:
    pri = i.text
    price.append(pri)
price[0:4]

['Rs. 6795', 'Rs. 6795', 'Rs. 9995', 'Rs. 7195']

In [122]:
#Fetching description 1-40
d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")
d_t[0:4]

<ipython-input-122-2697636bb7d4>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="6ea99640-c404-4e9c-a83f-23cd90e84008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="fdcee3c5-62a7-4cdf-94ef-9070d80403dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="21115a00-594d-4ac2-9f6d-8db8362db3ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="2c9de55f-9d32-482b-b15a-7ab2f924bb60")>]

In [123]:
for i in d_t:
    des = i.text
    desc.append(des)
desc[0:4]

['Men Flex 2021 Running Shoes',
 'Men Flex Run 2021 Running Shoe',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Zoom Span 4 Running Shoes']

In [124]:
print(len(brand),len(desc),len(price))

50 50 50

In [125]:
#Search button for next 50
search_btn=driver.find_element_by_xpath("//li[@class='pagination-next']")
search_btn.click()

<ipython-input-125-3e698365f01d>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//li[@class='pagination-next']")

In [126]:
#Fetching brand 50-100
b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")
b_t[0:4]

<ipython-input-126-fc345b587d29>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t = driver.find_elements_by_xpath("//h3[@class='product-brand']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="55813715-4ecf-4859-a7d9-a99c634e182d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="e20634ab-a5fe-48b0-96dd-b29b98980972")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="2b42ec4b-9dc1-43a8-80d7-786bd7c469c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="a25ccec7-92dc-4cb2-bcf9-62d2079235a8")>]

In [127]:
for i in b_t:
    bra = i.text
    brand.append(bra)

In [128]:
#Fetching price 50-100
p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")
p_t[0:4]

<ipython-input-128-4855544b8661>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t = driver.find_elements_by_xpath("//div[@class='product-discountedPrice']|//div[@class='product-price']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="5ab99e03-819e-42da-a7b4-0592c1b739cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="a939cb07-a73a-4ffc-a506-35a3b942bef8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="a8a591c2-f59b-4d08-a29e-e4885d97d4e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="29692a72-569f-499f-b7ad-53b54c956ae5")>]

In [129]:
for i in p_t:
    pri = i.text
    price.append(pri)

In [130]:
#Fetching description 50-100
d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")
d_t[0:4]

<ipython-input-130-b3079ed56f1c>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d_t = driver.find_elements_by_xpath("//h4[@class='product-product']")

[<selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="b164bb06-8f52-4a1a-83b5-4a6b762cede9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="c049244a-2d68-4654-8762-a33160bd1a61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="d04c001e-b200-48c8-a355-330ed0556a3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="329f8c6199856316ac03e77645a9c8f4", element="6141f9ca-bf2c-43ae-b4ec-146e7d1bd411")>]

In [131]:
for i in d_t:
    des = i.text
    desc.append(des)

In [132]:
print(len(brand),len(desc),len(price))

100 100 100

In [133]:
myn_sne=pd.DataFrame({})
myn_sne['Brand']=brand
myn_sne['Price']=price
myn_sne['Description']=desc

In [134]:
myn_sne

,Brand,Price,Description
0,Nike,Rs. 6795,Men Flex 2021 Running Shoes
1,Nike,Rs. 6795,Men Flex Run 2021 Running Shoe
2,Nike,Rs. 9995,AIR ZOOM PEGASUS Running Shoes
3,Nike,Rs. 7195,Men Zoom Span 4 Running Shoes
4,Puma,Rs. 6799Rs. 7999(15% OFF),Men FUSE Training Shoes
...,...,...,...
95,Saint G,Rs. 8500,Women Leather Heeled Boots
96,Tommy Hilfiger,Rs. 7999,Women Leather Pumps
97,Kenneth Cole,Rs. 8790,Men Solid Formal Genuine Leather Derbys
98,Sole To Soul,Rs. 7590Rs. 7990(5% OFF),Block Heeled Boots
99,KIPRUN By Decathlon,Rs. 7006Rs. 7149(2% OFF),Women Running Shoes

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [97]:
driver.get(' https://www.amazon.in/')

In [98]:
lap_s=driver.find_element_by_id('twotabsearchtextbox')
lap_s.send_keys('Laptop')

<ipython-input-98-9cd016277ae1>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  lap_s=driver.find_element_by_id('twotabsearchtextbox')

In [99]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

<ipython-input-99-f78c7ec4e5a6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_id('nav-search-submit-button')

In [100]:
isev = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
titletext=isev.get_attribute('innerHTML').splitlines()[0]
isev.click()

<ipython-input-100-3bf92e1ef48d>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  isev = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')

In [101]:
brand = []
rating = []
price =[]

In [102]:
b_t=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
b_t[0:4]

<ipython-input-102-a6ddee04791c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b_t=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

[<selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="0721e95f-c512-494f-bb17-09899e7710a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="8646b1e2-fe00-4465-8a63-81f405a904d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="e709da91-e8cc-4919-8900-786f465e4942")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="fda436ea-4a87-42f9-baf4-a4a8136bc4f5")>]

In [103]:
for i in b_t:
    bra=i.text
    brand.append(bra)
    
brand[0:4]

['Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/500GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)']

In [104]:
r_t=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
r_t[0:4]

<ipython-input-104-b47931e56f92>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  r_t=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")

[<selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="621b9d76-111c-4ddc-9dae-4a121f4a8f01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="cf29a9d7-c747-4798-8b51-4d169b56c08f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="83114014-8a98-4709-84a8-2034caab003e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="9071231e-1c8f-4cc6-ad0c-fecba0549773")>]

In [105]:
for i in r_t:
    rat=i.text
    rating.append(rat)
    
rating[:4]

['', '', '', '']

In [106]:
p_t=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p_t[0:4]

<ipython-input-106-4a2ec9a02507>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p_t=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

[<selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="7d0cdc5c-5623-47b8-b552-975f54c2d645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="94eebeb4-9faf-4a3d-a658-e780f022ca67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="203d1aa6-c807-482c-9175-10257ac46933")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c10bdbd5b7d7e3513dc310f8c41af8f5", element="ab63b516-f925-4cbe-b36b-05c6285b16f7")>]

In [107]:
for i in p_t:
    pri=i.text
    price.append(pri)
price[0:4]

['58,990', '34,899', '1,13,990', '50,990']

In [108]:
print(len(brand),len(rating),len(price))

24 27 25

In [109]:
ama_l=pd.DataFrame({})
ama_l['Brand']=brand[:20]
ama_l['Rating']=rating[:20]
ama_l['Price']=price[:20]

In [110]:
ama_l

                                                Brand Rating     Price
0   Mi Notebook Horizon Edition 14 Intel Core i7-1...           58,990
1   (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...           34,899
2   ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...         1,13,990
3   Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...           50,990
4   HP Pavilion (2021) Intel 11th Gen Core i7 14 i...           88,490
5   MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...           84,990
6   Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...           77,990
7   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....         1,04,890
8   HP Pavilion 13(2021) 11th Gen Intel Core i7 La...           85,990
9   Dell Latitude E6430 14.1 Inch Business Laptop ...           91,300
10  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...           35,999
11  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....           81,990
12  ASUS TUF Dash F15 15.6-inch FHD 144Hz, Intel C...           85,990
13  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...           85,590
14  HP Pavilion x360 11th Gen Intel Core i7 14-inc...           93,990
15  (Renewed) Dell Latitude Laptop E7470 Intel Cor...           84,990
16  (Renewed) Lenovo IdeaPad S540 11th Gen Intel C...           43,990
17  (Renewed) Life Digital Laptop 15.6-inch (39.62...           66,291
18  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...           34,990
19  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...           94,010

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location from https://www.ambitionbox.com/ . You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [4]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-4-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [5]:
#url of the webpage to be scraped
url = "https://www.ambitionbox.com/jobs/search?designation=data-scientist&location=Noida"

In [6]:
driver.get(url)

In [7]:
#List for storing information
company_name = []
number_of_days_ago = []
rating = []

In [8]:
company_name = driver.find_elements_by_xpath("//p[@class='company body-medium']")

companies=[]

for i in company_name[0:10]:

    companies.append(i.text)

<ipython-input-8-b37ac488b16e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name = driver.find_elements_by_xpath("//p[@class='company body-medium']")

In [9]:
companies

['Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Ameriprise Financial',
 'Jubilant Foodworks Limited',
 'Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Steria India Ltd',
 'GI Group',
 'Zyoin',
 'GI Group']

In [10]:
number_of_days_ago = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

days=[]

for i in number_of_days_ago[0:10]:

    days.append(i.text)
days

<ipython-input-10-80602f1c3a9b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  number_of_days_ago = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

['11d ago',
 '4d ago',
 '6d ago',
 '3d ago',
 '1mon ago',
 '23d ago',
 '23d ago',
 '6hr ago',
 '5d ago',
 '3d ago']

In [11]:
rating = driver.find_elements_by_xpath(" //div[@class='info']/div/div/a/span")
ratings=[]

for i in rating[0:10]:

    ratings.append(i.text)
ratings

<ipython-input-11-61fbaad37195>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating = driver.find_elements_by_xpath(" //div[@class='info']/div/div/a/span")

['4.1', '4.1', '4.1', '3.9', '4.1', '4.1', '4.1', '3.9', '4.2', '3.9']

In [12]:
print(len(company_name),len(rating),len(number_of_days_ago))

10 10 10

In [13]:
ambition = pd.DataFrame({})
ambition['COMPANY NAME']= companies
ambition['NO.OF DAYS AGO WHEN JOB WAS POSTED']= days
ambition['RATING OF THE COMPANY']= ratings

In [14]:
ambition.head(10)

,COMPANY NAME,NO.OF DAYS AGO WHEN JOB WAS POSTED,RATING OF THE COMPANY
0,Optum Global Solutions (India) Private Limited,11d ago,4.1
1,Steria India Ltd,4d ago,4.1
2,Ameriprise Financial,6d ago,4.1
3,Jubilant Foodworks Limited,3d ago,3.9
4,Optum Global Solutions (India) Private Limited,1mon ago,4.1
5,Steria India Ltd,23d ago,4.1
6,Steria India Ltd,23d ago,4.1
7,GI Group,6hr ago,3.9
8,Zyoin,5d ago,4.2
9,GI Group,3d ago,3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation from https://www.ambitionbox.com/. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [15]:
#Connecting to web driver
driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

<ipython-input-15-2478a8c83437>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\Administrator\Downloads\chromedriver_win32\chromedriver.exe')

In [16]:
#url of the webpage to be scraped
url = "https://www.ambitionbox.com/salaries"

In [17]:
driver.get(url)

In [18]:
#List for storing information
company_name = []
total_salary= []
avg_salary = []
min_salary=[]
max_salary=[]
experience_required =[]

In [19]:
company_name = driver.find_elements_by_xpath("//div[@class='name']/a")

companies=[]

for i in company_name[0:10]:

    companies.append(i.text)
companies

<ipython-input-19-06d6902771df>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_name = driver.find_elements_by_xpath("//div[@class='name']/a")

['Ab Inbev',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Deloitte',
 'Ernst & Young',
 'Ericsson']

In [20]:
total_salary = driver.find_elements_by_xpath("//div[@class='name']/span")

salaries=[]

for i in total_salary[0:10]:

    salaries.append(i.text)
salaries

<ipython-input-20-9c0a238b21a6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  total_salary = driver.find_elements_by_xpath("//div[@class='name']/span")

['based on 10 salaries',
 'based on 22 salaries',
 'based on 60 salaries',
 'based on 24 salaries',
 'based on 45 salaries',
 'based on 14 salaries',
 'based on 12 salaries',
 'based on 45 salaries',
 'based on 26 salaries',
 'based on 43 salaries']

In [21]:
avg_salary = driver.find_elements_by_xpath("//p[@class='averageCtc']")

average=[]

for i in avg_salary[0:10]:

    average.append(i.text)
average

<ipython-input-21-a022e47d2576>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_salary = driver.find_elements_by_xpath("//p[@class='averageCtc']")

['₹ 19.4L',
 '₹ 15.1L',
 '₹ 14.7L',
 '₹ 13.4L',
 '₹ 13.3L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.2L',
 '₹ 11.1L',
 '₹ 10.9L']

In [22]:
min_salary = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")

average1=[]

for i in min_salary[0:10]:

    average1.append(i.text)
average1

<ipython-input-22-bdf4936e1f0b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min_salary = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")

['₹ 15.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.2L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 6.9L',
 '₹ 6.0L',
 '₹ 5.0L']

In [23]:
max_salary = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

average2=[]

for i in max_salary[0:10]:

    average2.append(i.text)
average2

<ipython-input-23-10a9eeee9f4b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  max_salary = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

['₹ 23.0L',
 '₹ 21.3L',
 '₹ 20.8L',
 '₹ 18.5L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 20.5L',
 '₹ 20.0L',
 '₹ 21.5L']

In [25]:
experience_required = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

experience=[]

for i in experience_required[0:10]:

    experience.append(i.text)
experience

<ipython-input-25-1cc0a383c13e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_required = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

['Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp']

In [26]:
print(len(company_name),len(min_salary),len(max_salary),len(avg_salary),len(experience_required),len(total_salary))

10 10 10 10 10 10

In [27]:
ambition1 = pd.DataFrame({})
ambition1['COMPANY NAME']=companies
ambition1['TOTAL NO. OF SALARIES']=salaries
ambition1['AVERAGE SALARY']=average
ambition1['MINIMUM SALARY']=average1
ambition1['MAXIMUM SALARY']=average2
ambition1['EXPERIENCE REQUIRED']=experience

In [28]:
ambition1

,COMPANY NAME,TOTAL NO. OF SALARIES,AVERAGE SALARY,MINIMUM SALARY,MAXIMUM SALARY,EXPERIENCE REQUIRED
0,Ab Inbev,based on 10 salaries,₹ 19.4L,₹ 15.0L,₹ 23.0L,Data Scientist\n . \n4 yrs exp
1,Optum,based on 22 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,Data Scientist\n . \n3-4 yrs exp
2,Fractal Analytics,based on 60 salaries,₹ 14.7L,₹ 9.0L,₹ 20.8L,Data Scientist\n . \n2-4 yrs exp
3,Tiger Analytics,based on 24 salaries,₹ 13.4L,₹ 8.3L,₹ 18.5L,Data Scientist\n . \n3-4 yrs exp
4,UnitedHealth,based on 45 salaries,₹ 13.3L,₹ 7.2L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp
5,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist\n . \n4 yrs exp
6,Ganit Business Solutions,based on 12 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
7,Deloitte,based on 45 salaries,₹ 11.2L,₹ 6.9L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp
8,Ernst & Young,based on 26 salaries,₹ 11.1L,₹ 6.0L,₹ 20.0L,Data Scientist\n . \n3-4 yrs exp
9,Ericsson,based on 43 salaries,₹ 10.9L,₹ 5.0L,₹ 21.5L,Data Scientist\n . \n3-4 yrs exp